//
   Created by d032233 on 27.04.2016.
html
    head
        title BDL Online Spielplan - Spieler
    body(style={"font-family": 'Calibri'})
        h3 Verein "#{team}"
        table(cellpadding='3', cellspacing='0', width='100%', style={'border': 'solid 1px'})
            thead
                tr(style={"background-color": '#AFD3E0'})
                    th(align='left', width='2%') #
                    th(align='left', width='10%') Name
                    th(align='left') Vorname
                    th(align='left') Aktionen
            tbody
                each player, i in players
                    - var count = i + 1;
                    tr
                        td(align='left') #{count}.
                        td(align='left')= player.name
                        td(align='left')= player.vorname
                        td
                            a(href='/bedelos/team/#{teamId}/delete?name=#{player.encName}&vorname=#{player.encVorname}') Löschen
                tr
                    td(colspan='4') <br>Spieler hinzufügen:
                form
                    tr
                        td &nbsp;
                        td
                            label Name
                        td(colspan='2')
                            input(type='text')
                    tr
                        td &nbsp;
                        td
                            label Vorname
                        td(colspan='2')
                            input(type='text')
                            input(type='submit')
