//
   Created by d032233 on 27.04.2016.
html
    head
        link(href='/bedelos/styles/bootstrap-editable.css', rel='stylesheet')
        link(href='/bedelos/styles/bootstrap.min.css', rel='stylesheet')
        script(src='/bedelos/scripts/jquery-2.1.4.min.js')
        script(src='/bedelos/scripts/bootstrap.min.js')
        script(src='/bedelos/scripts/bootstrap-editable.min.js')
        title BDL Online Spielplan - Spielplan Anzeige
    body(style={"font-family": 'Calibri'})
        each spiele, spieltag in runde
            - var sSpieltag = spieltag.split('_')[1];
            table(cellpadding='8', cellspacing='0', width='100%', style={'border': 'solid 1px'})
                thead
                    tr
                        th(colspan='5') #{sSpieltag}. Spieltag (Spielbeginn jeweils 20.00 Uhr)
                    tr(style={"background-color": '#AFD3E0'})
                        //th Spiel
                        th Datum
                        th Heim
                        th Ergebnis
                        th Gast
                        th Aktionen
                tbody
                    each spiel, i in spiele
                        tr
                            if (spiel.spielfrei)
                                if (teams[spiel.spielfrei] && teams[spiel.spielfrei].name)
                                    td(colspan='5') Spielfrei: #{teams[spiel.spielfrei].name}
                                else
                                    td(colspan='5') Spielfrei: #{spiel.spielfrei}
                            else
                                //td= spiel.id
                                td= spiel.datum
                                if (teams[spiel.heim] && teams[spiel.heim].name)
                                    td= teams[spiel.heim].name
                                else
                                    td= spiel.heim
                                if (results[spiel.id])
                                    - var resultHeim = results[spiel.id].summary.heim.sets || 0;
                                    - var resultGast = results[spiel.id].summary.gast.sets || 0;
                                    td(align='center') #{resultHeim} : #{resultGast}
                                else
                                    td(align='center') - : -
                                if (teams[spiel.gast] && teams[spiel.gast].name)
                                    td= teams[spiel.gast].name
                                else
                                    td= spiel.gast
                                if (results[spiel.id])
                                    td(align='center')
                                        a(href='/bedelos/ergebnisse/#{spiel.id}') Details
                                        if (username === 'bdladmin')
                                            nbsp |
                                            a(href='#', id="wertung_#{spiel.id}", data-type="select",
                                            data-url="/bedelos/wertung/#{spiel.id}", data-pk="#{spiel.id}", data-title="Spiel #{spiel.id}") Werten
                                else
                                    td(align='center') Details
                                        if (username === 'bdladmin')
                                            nbsp |
                                            a(href='#', id="wertung_#{spiel.id}", data-type="select",
                                                data-url="/bedelos/wertung/#{spiel.id}", data-pk="#{spiel.id}", data-title="Spiel #{spiel.id}") Werten

                br
    script(type='text/javascript').
        $.fn.editable.defaults.mode = 'inline';
        $(document).ready(function () {
            $('[id^="wertung_"]').editable({
                value: 2,
                source: [
                    {value: 1, text: '0:12'},
                    {value: 2, text: '12:0'}
                ]
            });
        });