//
   Created by d032233 on 27.04.2016.
html
    head

        link(href='/bedelos/styles/bootstrap.min.css', rel='stylesheet')
        script(src='/bedelos/scripts/jquery-2.1.4.min.js')
        script(src='/bedelos/scripts/moment-with-locales.js')
        script(src='/bedelos/scripts/transition.js')
        script(src='/bedelos/scripts/collapse.js')
        script(src='/bedelos/scripts/js.cookie.js')
        script(src='/bedelos/scripts/jstree.js')
        script(src='/bedelos/scripts/bootstrap.min.js')
        script(src='/bedelos/scripts/bootstrap-datepicker.js')
        script(src='/bedelos/locales/bootstrap-datepicker.de.min.js')
        script(src='/bedelos/scripts/bootstrap-typeahead.js')
        link(href='/bedelos/styles/jstree.style.css', rel='stylesheet')
        link(href='/bedelos/styles/bootstrap-datepicker3.min.css', rel='stylesheet')
        title BDL Online Spielplan Generator

    body(style={"font-family": 'Calibri'})
        each liga, i in oLigen
            input(id='nextGameIndex' + i, type='hidden', value=spielplan[i].nextGameIndex)

        .container
            .row
                .col-xs-2
                    label(for='liga') Liga
                .col-xs-4
                    .form-group
                        select.form-control(id='liga', onchange='updateGameIndex()')
                            each liga, i in oLigen
                                option(value=i) #{liga.name}
            .row
                .col-xs-2
                    label(for='liga') Spiel-Index
                .col-xs-6
                    input(id='gameIndex', type='text', disabled)
            .row
                .col-xs-2
                    label Runde
                .col-xs-6
                    .form-group
                        label(for='vr')
                            input(type='radio', name='runde', id='vr')
                            |  Vorrunde
                        label(for='rr')
                            input(type='radio', name='runde', id='rr')
                            |  Rückrunde
            .row
                .col-xs-2
                    label(for='spieltag') Spieltag
                .col-xs-2
                    .form-group
                        select.form-control(id='spieltag')
                            option(value=1) 1
                            option(value=2) 2
                            option(value=3) 3
                            option(value=4) 4
                            option(value=5) 5
                            option(value=6) 6
                            option(value=7) 7
                            option(value=8) 8
                            option(value=9) 9
                            option(value=10) 10
                            option(value=11) 11
                            option(value=12) 12
                            option(value=13) 13
                            option(value=14) 14
                            option(value=15) 15
                            option(value=16) 16
                            option(value=17) 17
                            option(value=18) 18
                            option(value=19) 19
                            option(value=20) 20
                            option(value=21) 21
                            option(value=22) 22
                            option(value=23) 23
                            option(value=24) 24
                            option(value=25) 25
                            option(value=26) 26
                            option(value=27) 27
                            option(value=28) 28
            .row
                .col-xs-2
                    label(for='datepicker') Datum
                .col-xs-3
                    .form-group
                        input(type="text", placeholder="Klick für Kalender" id="datepicker")
            .row
                .col-xs-2
                    label(for='heim') Heim
                .col-xs-3
                    .form-group
                        input.typeahead(id='heim', type='text', data-provide='typeahead')
                .col-xs-2
                    .form-group
                        label(for='spielfrei')
                            input(id='spielfrei', type='checkbox', onclick='removeGuestField()')
                            |  Spielfrei?
            .row
                .col-xs-2
                    label(for='heim') Gast
                .col-xs-3
                    .form-group
                        input.typeahead(id='gast', type='text', data-provide='typeahead')
            .row
                .col-xs-2
                    nbsp
                .col-xs-2
                    .form-group
                        input(id='save', type='button', value='Speichern', onclick='submit()')
                .col-xs-2
                    .form-group
                        input(id='delete', type='button', value='Löschen', onclick='deleteEntry()', style={'visibility':'hidden'})


    .container
        .row
            .col-xs-12
                div
                    b Spielplan
                div(id='jstree_spielplan')
                    ul
                        each liga, i in spielplan
                            li(data-jstree='{"icon":"glyphicon glyphicon-globe"}')= liga.name
                                ul
                                    li(data-jstree='{"icon":"glyphicon glyphicon-arrow-right"}') Vorrunde
                                        ul
                                            each spieltag, i in liga.vr
                                                li(data-jstree='{"icon":"glyphicon glyphicon-calendar"}')= i
                                                    ul
                                                        each spiel, i in spieltag
                                                            if (spiel.spielfrei)
                                                                if (teams[spiel.spielfrei] && teams[spiel.spielfrei].name)
                                                                    li(data-jstree='{"icon":"glyphicon glyphicon-remove"}', data-gameDetails=gamesMap[spiel.id])
                                                                        | #{spiel.datum}:
                                                                        | Spielfrei: #{teams[spiel.spielfrei].name}
                                                                        | &nbsp;&nbsp;(#{spiel.id})
                                                                else
                                                                    li(data-jstree='{"icon":"glyphicon glyphicon-remove"}', data-gameDetails=gamesMap[spiel.id])
                                                                        | #{spiel.datum}:
                                                                        | Spielfrei: #{spiel.spielfrei}
                                                                        | &nbsp;&nbsp;(#{spiel.id})
                                                            else
                                                                li(data-jstree='{"icon":"glyphicon glyphicon-knight"}', data-gameDetails=gamesMap[spiel.id])
                                                                    | #{spiel.datum}:
                                                                    | <b>#{teams[spiel.heim].name}</b>
                                                                    | vs.
                                                                    | <b>#{teams[spiel.gast].name}</b>
                                                                    | &nbsp;&nbsp;(#{spiel.id})
                                    li(data-jstree='{"icon":"glyphicon glyphicon-arrow-left"}') Rückrunde
                                        ul
                                            each spieltag, i in liga.rr
                                                li(data-jstree='{"icon":"glyphicon glyphicon-calendar"}')= i
                                                    ul
                                                        each spiel, i in spieltag
                                                            if (spiel.spielfrei)
                                                                if (teams[spiel.spielfrei] && teams[spiel.spielfrei].name)
                                                                    li(data-jstree='{"icon":"glyphicon glyphicon-remove"}', data-gameDetails=gamesMap[spiel.id])
                                                                        | #{spiel.datum}:
                                                                        | Spielfrei: #{teams[spiel.spielfrei].name}
                                                                        | &nbsp;&nbsp;(#{spiel.id})
                                                                else
                                                                    li(data-jstree='{"icon":"glyphicon glyphicon-remove"}', data-gameDetails=gamesMap[spiel.id])
                                                                        | #{spiel.datum}:
                                                                        | Spielfrei: #{spiel.spielfrei}
                                                                        | &nbsp;&nbsp;(#{spiel.id})
                                                            else
                                                                li(data-jstree='{"icon":"glyphicon glyphicon-knight"}', data-gameDetails=gamesMap[spiel.id])
                                                                    | #{spiel.datum}:
                                                                    | <b>#{teams[spiel.heim].name}</b>
                                                                    | vs.
                                                                    | <b>#{teams[spiel.gast].name}</b>
                                                                    | &nbsp;&nbsp;(#{spiel.id})

    script(type='text/javascript').

        moment.locale('de');

        function submit() {
            var bVorrunde = $('#vr').prop('checked');
            var oData = {
                'liga': $('#liga').val(),
                'spieltag': $('#spieltag').val(),
                'runde': (bVorrunde ? "vr" : "rr"),
                'datum': $('#datepicker').val(),
                'spielIndex': $('#gameIndex').val()
            };
            if($('#spielfrei').prop('checked')) {
                var heim = $('#heim').typeahead('getActive');
                if (heim) {
                    oData.spielfrei = heim.id;
                }
            } else {
                var heim = $('#heim').typeahead('getActive');
                var gast = $('#gast').typeahead('getActive');
                oData.heim = heim.id;
                oData.gast = gast.id;
            }
            Cookies.set('bedelos.spielplan.generator', oData);

            console.log(oData);

            $.ajax({
                type: 'POST',
                url: "/bedelos/spielplan/generator",
                data: JSON.stringify(oData),
                dataType: 'json',
                contentType : 'application/json',
                success: function () {
                    location.href = "/bedelos/spielplan/generator"
                }
            });
        };

        function deleteEntry() {
            $.ajax({
                type: 'DELETE',
                url: "/bedelos/spielplan/generator/spiel/" + $('#gameIndex').val(),
                dataType: 'json',
                success: function () {
                    location.href = "/bedelos/spielplan/generator"
                }
            });
        };
        function removeGuestField() {
            $('#gast').val("");
            $('#gast').prop('disabled', $('#spielfrei').prop('checked'))
        };
        function updateGameIndex() {
            var sLiga = $('#liga option:selected').val();
            $('#gameIndex').val($('#nextGameIndex'+sLiga).val());
        };

        var $input = $('.typeahead');
        var aTeams = JSON.parse("#{sTeams}".replace(/&quot;/g,'"'));
        $input.typeahead({
            source: aTeams,
            autoSelect: true
        });

        var sCookie = Cookies.get("bedelos.spielplan.generator");
        var oData = (sCookie) ? JSON.parse(sCookie) : {
            liga: "oberliga",
            runde: "vr",
            datum: moment().format('DD.MM.YYYY')
        };
        $(document).ready(function () {
            var that = this;
            $('#datepicker').datepicker({
                format: "D. dd.mm.yyyy",
                todayBtn: "linked",
                todayHighlight: true,
                weekStart: 1,
                language: 'de'
            });

            $('#liga option[value=' + oData.liga + ']').prop('selected', true);
            $('#spieltag option[value=' + oData.spieltag + ']').prop('selected', true);
            $('#vr').prop('checked', (oData.runde === "vr"));
            $('#rr').prop('checked', (oData.runde === "rr"));
            $('#datepicker').datepicker("update", oData.datum ).change();
            $('#heim').focus();
            updateGameIndex();

            $('#jstree_spielplan').jstree().bind("select_node.jstree", function (NODE, REF_NODE) {
                var oSelectedNode = $('#jstree_spielplan').jstree().get_json($('#jstree_spielplan').jstree().get_selected());
                var oData = oSelectedNode.data.gamedetails;
                $('#liga option[value=' + oData.liga + ']').prop('selected', true);
                $('#gameIndex').val(oData.id);
                var iSpieltag = oData.spieltag.split('_')[1];
                $('#spieltag option[value=' + iSpieltag + ']').prop('selected', true);
                $('#vr').prop('checked', (oData.runde === "vr"));
                $('#rr').prop('checked', (oData.runde === "rr"));
                $('#datepicker').datepicker("update", oData.datum ).change();
                if (oData.spielfrei) {
                    $('#heim').val(oData.spielfreiName);
                    $('#spielfrei').prop('checked', 'checked');
                    $('#gast').val("");
                    $('#gast').prop('disabled', $('#spielfrei').prop('checked'))
                } else {
                    $('#heim').val(oData.heimName);
                    $('#gast').val(oData.gastName);
                }
                $('#delete').css('visibility', 'visible');
                $("#liga")[0].scrollIntoView();
                $('#heim').focus();
                $('#heim').select();
            });
            $('#jstree_spielplan').jstree("open_all");
        });

        $(document).keyup(function(e) {
            if (e.keyCode == 27) { // escape key maps to keycode `27`
                location.href = "/bedelos/spielplan/generator"
            }
        });

