//
   Created by d032233 on 27.04.2016.
html
    head
        title BDL Online Spielplan - Spielplan Anzeige
    body(style={"font-family": 'Calibri'})
        each spiele, spieltag in runde
            - var sSpieltag = spieltag.split('_')[1];
            table(cellpadding='8', cellspacing='0', width='100%', style={'border': 'solid 1px'})
                thead
                    tr
                        th(colspan='5') #{sSpieltag}. Spieltag (Spielbeginn jeweils 20.00 Uhr)
                    tr(style={"background-color": '#AFD3E0'})
                        //th Spiel
                        th Datum
                        th Heim
                        th Ergebnis
                        th Gast
                        th Aktion
                tbody
                    each spiel, i in spiele
                        tr
                            if (spiel.spielfrei)
                                if (teams[spiel.spielfrei] && teams[spiel.spielfrei].name)
                                    td(colspan='5') Spielfrei: #{teams[spiel.spielfrei].name}
                                else
                                    td(colspan='5') Spielfrei: #{spiel.spielfrei}
                            else
                                //td= spiel.id
                                td= spiel.datum
                                if (teams[spiel.heim] && teams[spiel.heim].name)
                                    td= teams[spiel.heim].name
                                else
                                    td= spiel.heim
                                if (results[spiel.id])
                                    - var resultHeim = results[spiel.id].summary.heim.sets || 0;
                                    - var resultGast = results[spiel.id].summary.gast.sets || 0;
                                    td #{resultHeim} : #{resultGast}
                                else
                                    td - : -
                                if (teams[spiel.gast] && teams[spiel.gast].name)
                                    td= teams[spiel.gast].name
                                else
                                    td= spiel.gast
                                if (results[spiel.id])
                                    td
                                        a(href='/bedelos/ergebnisse/#{spiel.id}') Details
                                else
                                    td -
                br