//
   Created by d032233 on 27.04.2016.
html
    head
        title BDL Online Spielplan - Tables
        link(href='/bedelos/styles/bootstrap.min.css', rel='stylesheet')
        link(href='/bedelos/styles/bedelos.css', rel='stylesheet')
        script(src='/bedelos/scripts/jquery-2.1.4.min.js')
        script(src='/bedelos/scripts/bootstrap.min.js')
    body(style={"font-family": 'Arial, Helvetica', 'font-size': 'smaller'})
        table
            thead
                tr
                    th.center(colspan=8) Statistiken "#{liga}"
                tr
                    th.center(colspan=9) Saison:
                        nbsp
                        each season, i in allSeasons
                            span
                                a(href='/bedelos/statistik/liga/' + ligaShort + '?saison=' + season)= season
                                nbsp
                                nbsp
                tr.borderedTopBottom.highlighted
                    th.left(rowspan='2') Pl.
                    th.left(rowspan='2') Spieler
                    th.left(rowspan='2') Verein
                    th.center.smaller Siege<br>*2
                    th.center.smaller HF<br>*0,5
                    th.center.smaller SL<br>*0,5
                    th.center.smaller Max<br>*0,5
                    th.center.smaller Pkt<br>&sum;
            tbody
                each player, i in ranking
                    - var place = i + 1;
                    - var gameScore = player['3:0'] + player['3:1'] + player['3:2'];
                    - var sGameScore = '(' + player['3:0'] + '|' + player['3:1'] + '|' + player['3:2'] + ')';
                    tr(class=(i % 2 == 0) ? 'tdodd' : 'tdeven')
                        td.left.smaller #{place}.
                        td.left.xsmall.bold= player.name
                        td.left.xsmall.bold= teams[player.team].name
                        td.center.smaller(title='3:0 -> '+ player['3:0'] + '\n' +
                        '3:1 -> '+ player['3:1'] + '\n' +
                        '3:2 -> '+ player['3:2'] + '\n' )= gameScore
                        td.center.smaller= (player.hf!==0) ? player.hf : nbsp
                        td.center.smaller= (player.sl!==0) ? player.sl : nbsp
                        td.center.smaller= (player.max!==0) ? player.max : nbsp
                        td.center.smaller= player.punkte