//
   Created by d032233 on 27.04.2016.
html
    head
        title BDL Online Spielplan - Tables
        link(href='/bedelos/styles/bootstrap.min.css', rel='stylesheet')
        link(href='/bedelos/styles/bedelos.css', rel='stylesheet')
        script(src='/bedelos/scripts/jquery-2.1.4.min.js')
        script(src='/bedelos/scripts/bootstrap.min.js')
    body(style={"font-family": 'Calibri', 'font-size': 'smaller'})
        table
            thead
                tr
                    th.center(colspan=11) Statistiken "#{liga}"
                    th.center
                        a(href='/bedelos/statistik/liga/' + ligaShort + '?pdf=true')
                            img(src='/bedelos/images/pdf-icon.jpg', width='25px', title='PDF Export')
                    th.center
                        if (username === 'bdladmin')
                            a(href='/bedelos/admin/statistik/update/all',
                            onclick='return window.confirm("Alle Statistiken neu einlesen? ACHTUNG: Erzeugt hohe Serverlast!!!");')
                                span.glyphicon.glyphicon-refresh(title='Alle Statistiken neu einlesen?\nACHTUNG: Erzeugt hohe Serverlast!!!')
                        else
                            asfada
                tr.borderedTopBottom.highlighted
                    th.left(rowspan='2') Pl.
                    th.left(rowspan='2') Spieler
                    th.left(rowspan='2') Verein
                    th.center.smaller 3:0<br>5
                    th.center.smaller 3:1<br>4
                    th.center.smaller 3:2<br>3
                    th.center.smaller 2:3<br>2
                    th.center.smaller 1:3<br>1
                    th.center.smaller 0:3<br>0
                    th.center.smaller HF<br>1
                    th.center.smaller SL<br>1
                    th.center.smaller Max<br>1
                    th.center.smaller(rowspan='2') Pkt
            tbody
                each player, i in ranking
                    - var place = i + 1;
                    tr(class=(i % 2 == 0) ? 'tdodd' : 'tdeven')
                        td.left.smaller #{place}.
                        td.left.xsmall.bold= player.name
                        td.left.xsmall.bold= teams[player.team].name
                        td.center.smaller= (player['3:0']!==0) ? player['3:0'] : nbsp
                        td.center.smaller= (player['3:1']!==0) ? player['3:1'] : nbsp
                        td.center.smaller= (player['3:2']!==0) ? player['3:2'] : nbsp
                        td.center.smaller= (player['2:3']!==0) ? player['2:3'] : nbsp
                        td.center.smaller= (player['1:3']!==0) ? player['1:3'] : nbsp
                        td.center.smaller= (player['0:3']!==0) ? player['0:3'] : nbsp
                        td.center.smaller= (player.hf!==0) ? player.hf : nbsp
                        td.center.smaller= (player.sl!==0) ? player.sl : nbsp
                        td.center.smaller= (player.max!==0) ? player.max : nbsp
                        td.center.smaller= player.punkte