//
   Created by d032233 on 27.04.2016.
html
    head
        title BDL Online Spielplan - Tables
        link(href='/bedelos/styles/bootstrap.min.css', rel='stylesheet')
        link(href='/bedelos/styles/bedelos.css', rel='stylesheet')
        script(src='/bedelos/scripts/jquery-2.1.4.min.js')
        script(src='/bedelos/scripts/bootstrap.min.js')
    body(style={"font-family": 'Calibri'})
        table
            thead
                tr
                    th.center(colspan=7) Tabelle "#{liga}"
                    th.center
                        a(href='/bedelos/tabelle/liga/' + ligaShort + '?pdf=true', target='_top')
                            img(src='/bedelos/images/pdf-icon.jpg', width='25px', title='PDF Export')
                    th.center
                        if (username === 'bdladmin')
                            a(href='/bedelos/admin/tables/update/all',
                                onclick='return window.confirm("Alle Tabellen neu einlesen? ACHTUNG: Erzeugt hohe Serverlast!!!");')
                                span.glyphicon.glyphicon-refresh(title='Alle Tabellen neu einlesen?\nACHTUNG: Erzeugt hohe Serverlast!!!')
                        else
                            nbsp
                tr.borderedTopBottom.highlighted
                    th.left Platz
                    th.left(width='80%') Team
                    th.center Spiele
                    th.center G
                    th.center U
                    th.center V
                    th.center Sets
                    th.center Punkte
            tbody
                each team, i in ranking
                    - var place = i + 1;
                    tr
                        td(align='left') #{place}.
                        td(align='left')= teams[team.name].name
                        td(align='center')= team.spiele
                        td(align='center')= team.gewonnen
                        td(align='center')= team.unentschieden
                        td(align='center')= team.verloren
                        td(align='center') #{team.sets.own}:#{team.sets.other}
                        td(align='center') #{team.punkte.own}:#{team.punkte.other}