//
   Created by d032233 on 27.04.2016.
html
    head
        link(href='/bedelos/styles/bootstrap-editable.css', rel='stylesheet')
        link(href='/bedelos/styles/bootstrap.min.css', rel='stylesheet')
        link(href='/bedelos/styles/bedelos.css', rel='stylesheet')
        script(src='/bedelos/scripts/jquery-2.1.4.min.js')
        script(src='/bedelos/scripts/bootstrap.min.js')
        script(src='/bedelos/scripts/bootstrap-editable.js')
        title BDL Online Spielplan - TeamSpielplan
    body(style={"font-family": 'Calibri'})
        table(cellpadding='8', cellspacing='0', width='100%', style={'border': 'solid 1px', 'font-size': 'smaller'})
            thead
                tr
                    th.center(colspan='4') Übersicht-Spielplan für #{teams[username].name} (Spielbeginn jeweils 20.00 Uhr)
                    th.right
                        a(href='/bedelos/teamspielplan/team/' + username + '?pdf=true', target='_top')
                            img(src='/bedelos/images/pdf-icon.jpg', width='25px', title='PDF Export')
                tr.borderedTopBottom.highlighted
                    th.left Spieltag
                    th.left Datum
                    th.left Heim
                    th.center Ergebnis
                    th.left Gast
            tbody
                each spiel, i in alleSpiele
                    - var sSpieltag = spiel.spieltag.split('_')[1];
                    tr
                        td= sSpieltag
                        if (spiel.spielfrei)
                            if (teams[spiel.spielfrei] && teams[spiel.spielfrei].name)
                                td(colspan='3') Spielfrei: #{teams[spiel.spielfrei].name}
                            else
                                td(colspan='3') Spielfrei: #{spiel.spielfrei}
                        else
                            //td= spiel.id
                            td= spiel.datum
                            if (teams[spiel.heim] && teams[spiel.heim].name)
                                td= teams[spiel.heim].name
                            else
                                td= spiel.heim
                            if (spiel.summary)
                                td.center #{spiel.summary.heim.sets} : #{spiel.summary.gast.sets}
                            else
                                td.center - : -
                            if (teams[spiel.gast] && teams[spiel.gast].name)
                                td= teams[spiel.gast].name
                            else
                                td= spiel.gast
