//
   Created by d032233 on 27.04.2016.
html
    head
        title BDL Online Spielplan - Teams
        link(href='/bedelos/styles/bedelos.css', rel='stylesheet')
    body(style={"font-family": 'Arial, Helvetica'})
        each teamId, i in vereine
            table(cellpadding='8', cellspacing='0', width='100%', style={'border': 'solid 1px'})
                thead
                    tr
                        th(align='right') #{teams[teamId].name}
                        th(align='left', style={'font-size': 'smaller'}) TeamID: #{teamId}
                    tr(style={"background-color": '#AFD3E0'})
                        th.left(width='50%') Spiellokal
                        th.left(width='50%') Teamvertreter + Captain
                tbody
                    tr(style='vertical-align:top')
                        td #{teams[teamId].spiellokal.name}<br>
                            | #{teams[teamId].spiellokal.strasse}<br>
                            | #{teams[teamId].spiellokal.ort}
                            if (teams[teamId].spiellokal.nichtraucher === undefined)
                                div(style='color:#000000')
                                    b &#x2610;&nbsp;
                                    | - Nichtraucherlokal?
                            else if (teams[teamId].spiellokal.nichtraucher === true)
                                div(style='color:#007900')
                                    b &#x2611;&nbsp;
                                    | - Nichtraucherlokal?
                            else
                                div(style='color:#d20000')
                                    b &#x2612;&nbsp;
                                    | - Nichtraucherlokal?
                            if (teams[teamId].spiellokal.jugend === undefined)
                                div(style='color:#000000')
                                    b &#x2610;&nbsp;
                                    | - Jugend?
                            else if (teams[teamId].spiellokal.jugend === true)
                                div(style='color:#007900')
                                    b &#x2611;&nbsp;
                                    | - Jugend?
                            else
                                div(style='color:#d20000')
                                    b &#x2612;&nbsp;
                                    | - Jugend?
                            div(style={'font-size': 'smaller'})
                                | <a href="http://www.google.com/maps/place/#{teams[teamId].spiellokal.position.lat},#{teams[teamId].spiellokal.position.lng}" target="_top">Google Maps</a>
                        td #{teams[teamId].teamvertreter.name}<br>
                            | <a href="tel:#{teams[teamId].teamvertreter.tel}">#{teams[teamId].teamvertreter.tel}</a><br>
                            | <a href="mailto:#{teams[teamId].teamvertreter.mail}">Kontakt</a>
            br